<h1>Welcome to Our Real Estate Agency</h1>
  <% @agents.each do |agent| %>
    <ul>    
      <li><%= link_to "#{agent.name}", agent_path(agent) %></li>
      
      <li><%= link_to 'Listings', agent_homes_path(agent) %></li>
    </ul>

    <% end %>
<br />
<%= link_to 'Create New Agent', new_agent_path %>
