<h1>Listings yo mofo</h1>
  <ul>
  <% @agent.homes.each do |home| %>
        
      <li><%= link_to 'Listing', agent_homes_path(home) %></li>
      
      <li><%= link_to 'Address', agent_home_addresses_path(@agent, home) %></li>
    </ul>

    <% end %>
<br />
<%= link_to 'Create New Listing', new_agent_home_path(@agent) %>